In [14]:
class vehicle:
    def __init__(self,p,pr,col,en):
        self.plate=p
        self.price=pr
        self.color=col
        self.engine=en

class car(vehicle):
    def __init__(self,t,passengers,ms,p,pr,col,en):
        self.type=t
        self.no_passengers=passengers
        self.max_speed=ms
        super().__init__(p,pr,col,en)

class truck(vehicle):
    def __init__(self,ax,lc,p,pr,col,en):
        self.axle=ax
        self.load_capacity=lc
        super().__init__(p,pr,col,en)

#if __name__=="__main__":
    
    a=vehicle("D05551" ,"7lc","red","1498cc")
    b=car("jeep","5 seater","180km/hr","KA7676","10lc","black","2489cc")
    c=truck(4,"10tons","UP5790","7lc","blue","5660cc" )



print("normal vehicle having:",a.plate,a.price,a.color,a.engine)
print("car is of:",b.type,b.no_passengers,b.max_speed,b.plate,b.price,b.color,b.engine)
print("truck is having:",c.axle,c.load_capacity,c.plate,c.price,c.color,c.engine)

normal vehicle having: D05551 7lc red 1498cc
car is of: jeep 5 seater 180km/hr KA7676 10lc black 2489cc
truck is having: 4 10tons UP5790 7lc blue 5660cc

In [15]:
class employee:
    def __init__(self,Eid,Ename,Esalary):
        self.x=Eid
        self.y=Ename
        self.z=Esalary

class staff(employee):
    def __init__(self,worktype,workarea,Eid,Ename,Esalary):
        self.t=worktype
        self.a=workarea
        super().__init__(Eid,Ename,Esalary)

class developer(employee):
    def __init__(self,module,tech,experience,Eid,Ename,Esalary):
        self.m=module
        self.te=tech
        self.e=experience
        super().__init__(Eid,Ename,Esalary)

class manager(employee):
    def __init__(self,project,client,Eid,Ename,Esalary):
        self.p=project
        self.c=client
        super().__init__(Eid,Ename,Esalary)

ob1=staff("EC","mumbai",3865,"akash",40000)
ob2=developer("tx2","software","customer",3962,"mukta",35000)
ob3=manager("python","customer",7956,"raj",70000)

print("staffs are:",ob1.t,ob1.a,ob1.x,ob1.y,ob1.z)
print("developers are:",ob2.m,ob2.te,ob2.e,ob2.x,ob2.y,ob2.z)
print("manager are:",ob3.p,ob3.c,ob3.x,ob3.y,ob3.z)

staffs are: EC mumbai 3865 akash 40000
developers are: tx2 software customer 3962 mukta 35000
manager are: python customer 7956 raj 70000

In [1]:
for i in range(0,6):
    for j in range(0,6):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [2]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end=" ")

    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
for i in range(4,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [15]:
for i in range(0,5):
    for j in range(0,i+1):
        print("1","0 1",end=" ")
    print()

1 0 1
1 0 1 1 0 1
1 0 1 1 0 1 1 0 1
1 0 1 1 0 1 1 0 1 1 0 1
1 0 1 1 0 1 1 0 1 1 0 1 1 0 1

In [20]:
for i in range(8,0,-1):
    for j in range(0,i):
        print(".",end=" ")
    print()

. . . . . . . .
. . . . . . .
. . . . . .
. . . . .
. . . .
. . .
. .
.

In [2]:
for i in range(0,8):
    for j in range(0,i):
        print(".",end=" ")
    print()

.
. .
. . .
. . . .
. . . . .
. . . . . .
. . . . . . .

In [24]:
for i in range(0,6):
    for j in range(0,6):
        if j>=i:
            print("*",end=" ")
        else:
            print(" ",end=" ") 
    
    print()

* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [27]:
for i in range(0,6):
    for j in range(0,6):
        if j<=i:
            print("*",end=" ")
        else:
            print(" ",end=" ") 
    
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [1]:
def number_pyramid(rows):
  for i in range(1, rows + 1):
    for j in range(1, i + 1):
      print(j, end=" ")
    print()

rows = 5
number_pyramid(rows)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
def inverted_number_pyramid(rows):
  for i in range(rows, 0, -1):
    for j in range(1, i + 1):
      print(j, end=" ")
    print()

rows = 5
inverted_number_pyramid(rows)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [20]:
def inverted_full_pyramid(n):
    for i in range(n, 0, -1):
        for j in range(n - i):
            print(" ", end="")
        for k in range(2*i - 1):
            print("*", end=" ")
        print("\r")
 
n = 5
inverted_full_pyramid(n)

* * * * * * * * *
 * * * * * * *
  * * * * *
   * * *
    *

In [9]:
def print_diamond(rows):
    for i in range(1, rows + 1):
        print(" " * (rows - i), end="")
        print("* " * i)

    for i in range(rows - 1, 0, -1):
        print(" " * (rows - i), end="")
        print("* " * i)

rows = 5
print_diamond(rows)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [10]:
def hollow_square_pattern(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == n - 1 or j == 0 or j == n - 1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

size = int(input("Enter the size of the square: "))
hollow_square_pattern(size)

Enter the size of the square:  7

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [11]:
def print_diamond(rows):
    for i in range(1, rows + 1):
        for j in range(1, rows - i + 1):
            print(" ", end="")
        for j in range(1, 2 * i):
            if j == 1 or j == 2 * i - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()

    for i in range(rows - 1, 0, -1):
        for j in range(1, rows - i + 1):
            print(" ", end="")
        for j in range(1, 2 * i):
            if j == 1 or j == 2 * i - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()


rows = int(input("Enter the number of rows for the diamond pattern: "))
print_diamond(rows)

Enter the number of rows for the diamond pattern:  10

         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 *               *
*                 *
 *               *
  *             *
   *           *
    *         *
     *       *
      *     *
       *   *
        * *
         *

In [12]:
def print_hollow_triangle(rows):
    for i in range(rows):
        for j in range(rows*2-1):
            if i == rows - 1 or j == rows - i - 1 or j == rows + i - 1:
                print("*", end="")
            else:
                print(" ", end="")
        print()

rows = int(input("Enter the number of rows: "))
print_hollow_triangle(rows)

Enter the number of rows:  8

       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
***************

In [13]:
def reverse_triangle_pattern(rows):
    for i in range(rows, 0, -1):
        for j in range(rows - i):
            print(" ", end="")
        
        if i == 1 or i == rows:
            for j in range(2 * i - 1):
                print("*", end="")
        else:
            print("*", end="")
            for j in range(2 * i - 3):
                print(" ", end="")
            print("*", end="")
        
        print()

rows = 5
reverse_triangle_pattern(rows)

*********
 *     *
  *   *
   * *
    *

In [14]:
def print_mirror_triangle(rows):
    for i in range(1, rows + 1):
        for _ in range(1, i):
            print(" ", end="")
        for _ in range(i, rows + 1):
            if i == 1 or i == rows or _ == i or _ == rows:
                print("*", end="")
            else:
                print(" ", end="")
        print()

rows = int(input("Enter the number of rows: "))
print_mirror_triangle(rows)

Enter the number of rows:  8

********
 *     *
  *    *
   *   *
    *  *
     * *
      **
       *

In [16]:
def mirror_triangle(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "*" * i)

n = int(input("Enter the number of rows: "))
mirror_triangle(n)

Enter the number of rows:  8

       *
      **
     ***
    ****
   *****
  ******
 *******
********

In [19]:
def pascals_triangle(rows):
  for i in range(rows):
    print(" " * (rows - i), end="")

    coeff = 1
    for j in range(i + 1):
      print(coeff, end=" ")
      coeff = coeff * (i - j) // (j + 1)

    print()

rows = int(input("Enter the number of rows: "))
pascals_triangle(rows)

Enter the number of rows:  4

    1
   1 1
  1 2 1
 1 3 3 1

In [21]:
def print_hollow_hourglass_pattern(n):
    for i in range(n, 0, -1):
        for j in range(n - i):
            print(" ", end="")
        for j in range(2 * i - 1):
            if j == 0 or j == 2 * i - 2 or i == n:
                print("*", end="")
            else:
                print(" ", end="")
        print()
    for i in range(2, n + 1):
        for j in range(n - i):
            print(" ", end="")
        for j in range(2 * i - 1):
            if j == 0 or j == 2 * i - 2 or i == n:
                print("*", end="")
            else:
                print(" ", end="")
        print()

n = int(input("Enter the size of the hollow hourglass pattern: "))
print_hollow_hourglass_pattern(n)

Enter the size of the hollow hourglass pattern:  6

***********
 *       *
  *     *
   *   *
    * *
     *
    * *
   *   *
  *     *
 *       *
***********

In [22]:
def print_reverse_pascals_triangle(rows):
    triangle = []
    for i in range(rows):
        row = []
        for j in range(i+1):
            if j == 0 or j == i:
                row.append(1)
            else:
                row.append(triangle[i-1][j-1] + triangle[i-1][j])
        triangle.append(row)

    for i in range(rows-1, -1, -1):
        print(" " * (rows - i - 1), end="")
        for j in range(len(triangle[i])):
            print(triangle[i][j], end=" ")
        print()

rows = 5
print_reverse_pascals_triangle(rows)

1 4 6 4 1
 1 3 3 1
  1 2 1
   1 1
    1