In [1]:
print("hello")

hello

In [8]:
a=7
print((a))
print(type(a))

a=3.5
print((a))
print(type(a))

a="s"
print((a))
print(type(a))

a=[5,9]
print((a))
print(type(a))

a=(3,9)
print((a))
print(type(a))

a={1:"etduytv",2:"eithgu"}
print((a))
print(type(a))

a=range(1,10)
print((a))
print(type(a))

7
<class 'int'>
3.5
<class 'float'>
s
<class 'str'>
[5, 9]
<class 'list'>
(3, 9)
<class 'tuple'>
{1: 'etduytv', 2: 'eithgu'}
<class 'dict'>
range(1, 10)
<class 'range'>

In [10]:
a="abcdefg"
b="hijklm"
c="nopqrst"
print(a,b,c,"mope")
print(a+b+c+"mope")

abcdefg hijklm nopqrst mope
abcdefghijklmnopqrstmope

In [13]:
a=input()
print(a)
print(type(a))

 5.5

5.5
<class 'str'>

In [14]:
a=input()
b=input()
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 7
 5

75
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
a=int(input())
b=int(input())
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 5
 7

12
<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
a=int(input("Enter the first number"))
b=int(input("Enter the first number"))
c=a+b
print(c)

Enter the first number 6
Enter the first number 8

14

In [21]:
a,b,c=input("Enter the three number:").split()
d=a+b+c
print(d)

Enter the three number: 4 5 6

456

In [ ]:
day 2

In [6]:
a= age
printf("enter the age")
scanf("%s",age)
if(a>=18)
print("eligible to vote")
else
print("not eligible to vote")

SyntaxError: expected ':' (545761130.py, line 4)

In [8]:
name=input("Enter the name :")
age=int(input("Enter your age:"))

if age>=18:
    print(name)
    print("You are elegible")
else:
    print(name)
    print("You are not elegible")

Enter the name : sushmita
Enter your age: 20

sushmita
You are elegible

In [16]:
name=input("Enter the name :")
age=int(input("Enter your age:"))

if (age>=18):
    print(name)
    print("You are elegible")
else:
    print(name)
    print("You are not elegible")

Enter the name : risa
Enter your age: 16

risa
You are not elegible

In [21]:
a=int(input())
b=int(input())
if a>b:
    print("a is the largest")
else:
    print("b is the largest")

 6
 9

b is the largest

In [39]:
sus=int(input())
mon=int(input())
muk=int(input())
if a>b:
    if a<c:
        print("a is largest")
    else:
        print("c is largest")
else:
    if b>c:
        print("b is largest")
    else:
        print("c is largest")

 4
 5
 6

c is largest

In [25]:
a=int(input())
b=int(input())
c=int(input())
if a>b:
    if a>c:
        print("a is largest")
    else:
        print("c is largest")
else:
    if b>c:
        print("b is largest")
    else:
        print("c is largest")

 9
 3
 5

a is largest

In [41]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
if a>d:
    if a>b:
        print("a is largest")
      else:
        print("b is largest")
       else:
           if a>c:
              print("a is largest")
         else:
             print("c is largest")
else:
  if d>b:
       print("d is largest")
     else:
       print("b is largest")
        else:
           if d>c:
              print("d is largest")
                 else:
                    print("c is largest")

IndentationError: unindent does not match any outer indentation level (<string>, line 10)

In [11]:
marks=int(input("Enter your marks:"))
if marks>=90 and marks<=100:
    print("Grade =A+")
else:
     if marks>=80 and marks<90:
         print("Grade =A")
     else:
         if marks>=70 and marks<80:
             print("Grade =B")
         else:
             if marks>=60 and marks<70:
                 print("Grade =B+")
             else:
                 if marks>=50 and marks<60:
                     print("Grade =C")
                 else:
                     if marks>=40 and marks<50:
                         print("Grade =D")
                     else:
                         if marks>=30 and marks<40:
                             print("Grade =E")
                         else:
                             if marks>=20 and marks<30:
                                 print("Grade =F");
                             else:
                                 print("Invalid marks")

Enter your marks: 86

Grade =A

In [13]:
day=int(input("Enter the day number:"))

match day:
        case 1:print("sunday")
        case 2:print("monday")
        case 3:print("tuesday")
        case 4:print("wednesday")
        case 5:print("thursday")
        case 6:print("friday")
        case 7:print("saturday")

Enter the day number: 6

friday

In [15]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(0,10):
    print(y)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [19]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(0,10):
    for x in range(1,10):
        print(y,"",x)

0
1
2
3
4
5
6
7
8
9
0  1
0  2
0  3
0  4
0  5
0  6
0  7
0  8
0  9
1  1
1  2
1  3
1  4
1  5
1  6
1  7
1  8
1  9
2  1
2  2
2  3
2  4
2  5
2  6
2  7
2  8
2  9
3  1
3  2
3  3
3  4
3  5
3  6
3  7
3  8
3  9
4  1
4  2
4  3
4  4
4  5
4  6
4  7
4  8
4  9
5  1
5  2
5  3
5  4
5  5
5  6
5  7
5  8
5  9
6  1
6  2
6  3
6  4
6  5
6  6
6  7
6  8
6  9
7  1
7  2
7  3
7  4
7  5
7  6
7  7
7  8
7  9
8  1
8  2
8  3
8  4
8  5
8  6
8  7
8  8
8  9
9  1
9  2
9  3
9  4
9  5
9  6
9  7
9  8
9  9

In [5]:
for y in range(0,10):
    for x in range(0,y+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [12]:
fib=int(input("enter the limits"))
for i in range(0,n-2):
    print(i)
if n==0:
        print(fib(i-1)+fib(i-2))
if n==1:
    print

enter the limits 5

0
1
2
3

In [20]:
a=0
b=1
n=int(input("Enter the length of series:"))


for x in range(0,n-2):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

Enter the length of series: 10

1 2 3 5 8 13 21 34

In [1]:
list=[2,5,8,1.3,5.5,"s","a"]
for a in range(0,7):
    print(list[a])

2
5
8
1.3
5.5
s
a

In [ ]:
day 3

list of commands
def append(self:seif@
def extend(self:Self@list[_T@
def pop(self:Self@list[_T@list],index:SupportsIndex=-1,/
value:_T@list,
stop
def pop(self:Self@list[_T@list],
value:SupportsIndex=-1,/
def sort(self:Self@list[SupportsRichComparisonT@sort],index:SupportsIndex
object:_T@list
def remove(self:list[_T@list],index:SupportsIndex
object:_T@list
def insert(self:Self@list[_T@list],index:SupportsIndex
object:_T@list

In [2]:
a=[1,2,3,4,5]
b=a.copy()
print(b)

[1, 2, 3, 4, 5]

In [3]:
c=b.pop(3)
print(c)

4

In [4]:
print(b)
b.append(10)
b.append(7)
b.append(3)

[1, 2, 3, 5]

In [8]:
print(b)
print(b.index(3))

print(b.count(3))

print(b.count(10))

b.insert(4,9)
print(b)

b.remove(3)
print(b)

b.sort()
print(b)

b.sort(reverse=True)
print(b)

print(len(b))

[10, 9, 9, 7, 5, 2, 1]

ValueError: 3 is not in list

In [9]:
b.extend(a)
print(b)

[10, 9, 9, 7, 5, 2, 1, 1, 2, 3, 4, 5]

In [10]:
b.extend(a)
print(b+a)

[10, 9, 9, 7, 5, 2, 1, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [13]:
n=int(input("Enter the size of the list:"))
a=[]
for x in range (0,n):
    x=input()
    a.append(x)
print(a)

Enter the size of the list: 5
 7
 8
 2
 9
 1

['7', '8', '2', '9', '1']

In [18]:
L= [int(item) for item in (input("Enter the elements of the list:")).split()]
print(L)

Enter the elements of the list: 1234567

[1234567]

In [1]:
a=list([1,2,3,4,5,6,7])
print(a)

[1, 2, 3, 4, 5, 6, 7]

tuples

In [2]:
a=(1,2,3,4,5.5,"sush")
print(a)

(1, 2, 3, 4, 5.5, 'sush')

In [4]:
a=(1,2,3,4,5.5,"sush")
print(a)
a[5]

(1, 2, 3, 4, 5.5, 'sush')

'sush'

In [6]:
b=list(a)
print(b)
b[5]="sush"

a=tuple(b)
print(a)

[1, 2, 3, 4, 5.5, 'sush']
(1, 2, 3, 4, 5.5, 'sush')

In [9]:
a=(1,2,3,4,5,6,7,8,9)
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

9
8
7
6
5
4
3
2
1

In [15]:
a=(1,2,3,4,5,6,7,8,9)
for x in range(x-1,0):
    print(a[x])

8
9

Dictionary
key and values
key values pair

In [20]:
D={1:"sush",2:"risa",3:"anu"}
print(D)

print(D[3])

print(D.keys())

print(D.values())

print(D.items())

print(D.get(4))

{1: 'sush', 2: 'risa', 3: 'anu'}
anu
dict_keys([1, 2, 3])
dict_values(['sush', 'risa', 'anu'])
dict_items([(1, 'sush'), (2, 'risa'), (3, 'anu')])

In [21]:
##prog to take key and value as user and add it into the dict if key is not present in the dict
##otherwise print key already exist and print the value of key and the print the dict
d={1:"sush",2:"risa",3:"anu"}
a=int(input("Enter the key:"))
b=int(input("Enter the value:"))

Enter the key: 4
Enter the value: moon

ValueError: invalid literal for int() with base 10: 'moon'

In [1]:
a=5
b=0
c=a/b
print(c)

ZeroDivisionError: division by zero

In [6]:
a=int(input())
b=int(input())
c=a/b
try:
    print(c)
except:
    print("we cant divide:")
else:
    print("division sucessfull")
    print(c)
finally:
    print("error handelled")

print("we have received the result as:",c)

 5
 6

0.8333333333333334
division sucessfull
0.8333333333333334
error handelled
we have received the result as: 0.8333333333333334

In [16]:
a=[0,1,2,3,4,5,6,7,8,9]
b=int(input("Enter the index:"))
try:
    print(a[b])
except:
    print("index is not present in the list")
else:
    print("it is present")

Enter the index: 12

index is not present in the liat

In [17]:
try:
    c=10/0
except ValueError:
    print("data type issue")

except ZeroDivisionError:
    print("Cant'n divide by zero")
except:
    print("some anknow error found")
else:
    print("no error")
finally:
    print("code execution done")

Cant'n divide by zero
code execution done

In [19]:
try:
    a=input()
    b=input()
    c=int(a)+int(b)
except ValueError:
    print("data type issue")

except ZeroDivisionError:
    print("Cant'n divide by zero")
except:
    print("some anknow error found")
else:
    print("no error")
finally:
    print("code execution done")

 $
 5

data type issue
code execution done

->to find the sum of all the elements in the list and handle the case if it consist of non numeric value
->create a dict to the name and grades to find the grades if the dict is empty